.login-btn {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    background-color: rgb(239, 239, 239);

    color: black;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    position: absolute;
    height: auto;

    right: 0.3rem;
    top: 0.3rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: rgb(225, 225, 225);
}

.login-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.login-title {
    font-family: 黑体, sans-serif;
    font-size: 2rem;
    color: black;
    letter-spacing: 0.25rem;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0 1rem;
}

.login-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.login-form-item {
    height: 4rem;
    text-align: center;
}

.form-button {
    height: 2rem;
    width: 70%;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;

    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgb(239, 239, 239);
}

.form-button:hover {
    background-color: rgb(225, 225, 225);
}

.prefix-ico {
    position: relative;
    transform: translate(0, 0.15rem);
}