.flex-content-wrapper {
    display: flex;
    min-height: calc(100% - 3rem);
    height: fit-content;
}

.menu-wrapper {
    width: 13.5rem;
}

.top-bar-wrapper {
    height: 3rem;
    width: auto;
}

.bench-wrapper {
    height: 100%;
    width: calc(100% - 15rem);
}

.bench-menu {
    height: 100%;
}

.top-bar {
    width: 100%;
    height: 100%;
    /*background-color: #e6f7ff;*/
    background-color: #f1f1f1;
    border-bottom: 1px solid #e8e8e8;

    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0 1.5rem;
}
